product.template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: AWS Account Teardown Orchestrator - Step Functions State Machine (Service Catalog Product)

Parameters:
  NukeContainerImageUri:
    Type: String
    Default: "SOURCE-ACCOUNT.dkr.ecr.eu-west-1.amazonaws.com/slz-account-teardown-nuke-runner:latest"
    Description: ECR image URI for the nuke-runner Lambda container

Resources:

  #############################################
  # Step Functions State Machine
  #############################################
  AccountTeardownStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: slz-account-teardown-orchestrator
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "AWS Account Teardown Orchestrator - Nuke account resources via per-region fan-out",
          "StartAt": "ValidateOU",
          "States": {
            "ValidateOU": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:organizations:listParents",
              "Parameters": {
                "ChildId.$": "$.target_account_id"
              },
              "ResultPath": "$.ou_result",
              "Next": "CheckOU"
            },
            "CheckOU": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.ou_result.Parents[0].Id",
                  "StringEquals": "ou-xxxx-xxxxxxxx",
                  "Next": "DiscoverRegions"
                }
              ],
              "Default": "FailNotInOU"
            },
            "FailNotInOU": {
              "Type": "Fail",
              "Cause": "Account is not in the Quarantine OU",
              "Error": "OUValidationFailed"
            },
            "DiscoverRegions": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${RegionDiscoveryFunction}",
                "Payload": {
                  "target_account_id.$": "$.target_account_id",
                  "target_role_arn.$": "$.target_role_arn"
                }
              },
              "ResultSelector": {
                "target_account_id.$": "$.Payload.target_account_id",
                "enabled_regions.$": "$.Payload.enabled_regions"
              },
              "ResultPath": "$.region_discovery",
              "Next": "SeedDynamoDB"
            },
            "SeedDynamoDB": {
              "Type": "Map",
              "ItemsPath": "$.region_discovery.enabled_regions",
              "MaxConcurrency": 1,
              "ItemSelector": {
                "account_id.$": "$.region_discovery.target_account_id",
                "region.$": "$$.Map.Item.Value",
                "execution_id.$": "$$.Execution.Id"
              },
              "Iterator": {
                "StartAt": "PutRegionItem",
                "States": {
                  "PutRegionItem": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
                    "Parameters": {
                      "TableName": "${StateTable}",
                      "Item": {
                        "AccountId": { "S.$": "$.account_id" },
                        "Region": { "S.$": "$.region" },
                        "ExecutionId": { "S.$": "$.execution_id" },
                        "RunCount": { "N": "0" },
                        "Status": { "S": "pending" },
                        "RemainingCount": { "N": "0" },
                        "LastUpdated": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "ResultPath": null,
                    "End": true
                  }
                }
              },
              "ResultPath": null,
              "Next": "FanOutNukeRunner"
            },
            "FanOutNukeRunner": {
              "Type": "Map",
              "ItemsPath": "$.region_discovery.enabled_regions",
              "MaxConcurrency": 0,
              "ItemSelector": {
                "region.$": "$$.Map.Item.Value",
                "target_account_id.$": "$.target_account_id",
                "target_role_arn.$": "$.target_role_arn",
                "no_dry_run.$": "$.no_dry_run"
              },
              "ItemCatcher": {
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.error_info",
                    "Next": "FormatItemError"
                  }
                ]
              },
              "Iterator": {
                "StartAt": "CheckUsEast1",
                "States": {
                  "CheckUsEast1": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.region",
                        "StringEquals": "us-east-1",
                        "Next": "BuildPayloadUsEast1"
                      }
                    ],
                    "Default": "BuildPayloadOtherRegion"
                  },
                  "BuildPayloadUsEast1": {
                    "Type": "Pass",
                    "Parameters": {
                      "target_account_id.$": "$.target_account_id",
                      "target_role_arn.$": "$.target_role_arn",
                      "region": "us-east-1",
                      "regions": ["global", "us-east-1"],
                      "no_dry_run.$": "$.no_dry_run"
                    },
                    "Next": "InvokeNukeRunner"
                  },
                  "BuildPayloadOtherRegion": {
                    "Type": "Pass",
                    "Parameters": {
                      "target_account_id.$": "$.target_account_id",
                      "target_role_arn.$": "$.target_role_arn",
                      "region.$": "$.region",
                      "regions.$": "States.Array($.region)",
                      "no_dry_run.$": "$.no_dry_run"
                    },
                    "Next": "InvokeNukeRunner"
                  },
                  "InvokeNukeRunner": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${NukeRunnerFunction}",
                      "Payload.$": "$"
                    },
                    "ResultSelector": {
                      "status.$": "$.Payload.status",
                      "region.$": "$.Payload.region",
                      "remaining_count.$": "$.Payload.remaining_count",
                      "removed_count.$": "$.Payload.removed_count",
                      "failed_resources.$": "$.Payload.failed_resources",
                      "error.$": "$.Payload.error"
                    },
                    "End": true
                  },
                  "FormatItemError": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "error",
                      "region.$": "$.region",
                      "remaining_count": -1,
                      "removed_count": 0,
                      "failed_resources": [],
                      "error.$": "$.error_info.Cause"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.nuke_results",
              "Next": "Step4Placeholder"
            },
            "Step4Placeholder": {
              "Type": "Pass",
              "Comment": "Placeholder for Step 4 - Collect Results, Update DynamoDB",
              "End": true
            }
          }
        }

  #############################################
  # DynamoDB State Table
  #############################################
  StateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: slz-account-teardown-state-table
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: AccountId
          AttributeType: S
        - AttributeName: Region
          AttributeType: S
      KeySchema:
        - AttributeName: AccountId
          KeyType: HASH
        - AttributeName: Region
          KeyType: RANGE

  #############################################
  # IAM Role - Nuke Runner Lambda
  #############################################
  NukeRunnerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-nuke-runner-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: "SOURCE-ACCOUNT"
      Policies:
        - PolicyName: AssumeTargetAccountRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sts:AssumeRole
                Resource: "arn:aws:iam::*:role/NukeExecutionRole"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: "PRINCIPAL-ORG-ID"
        - PolicyName: SSMGetNukeConfig
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:*:${AWS::AccountId}:parameter/slz-aws-nuke/nuke-config-base"
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"

  #############################################
  # Lambda - Nuke Runner
  #############################################
  NukeRunnerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: slz-account-teardown-nuke-runner
      PackageType: Image
      ImageUri: !Ref NukeContainerImageUri
      Timeout: 900
      MemorySize: 1024
      ReservedConcurrentExecutions: 100
      Role: !GetAtt NukeRunnerLambdaRole.Arn

  #############################################
  # IAM Role - Region Discovery Lambda
  #############################################
  RegionDiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-region-discovery-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: "SOURCE-ACCOUNT"
      Policies:
        - PolicyName: AssumeTargetAccountRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sts:AssumeRole
                Resource: "arn:aws:iam::*:role/NukeExecutionRole"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: "PRINCIPAL-ORG-ID"
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"

  #############################################
  # Lambda - Region Discovery
  #############################################
  RegionDiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: slz-account-teardown-region-discovery
      Runtime: python3.12
      Handler: region-discovery.handler
      CodeUri: src/region-discovery/
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt RegionDiscoveryLambdaRole.Arn

  #############################################
  # IAM Role - Step Functions Execution
  #############################################
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-orchestrator-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsOUValidation
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - organizations:ListParents
                Resource: '*'
        - PolicyName: InvokeRegionDiscoveryLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt RegionDiscoveryFunction.Arn
        - PolicyName: InvokeNukeRunnerLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt NukeRunnerFunction.Arn
        - PolicyName: DynamoDBSeedState
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                Resource: !GetAtt StateTable.Arn
