product.template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: AWS Account Teardown Orchestrator - Step Functions State Machine (Service Catalog Product)

Parameters:
  ServiceCatalogAccountId:
    Type: String
    Description: AWS Account ID where this Service Catalog product is deployed (hosts ECR, Lambdas, and Step Functions)

  QuarantineOuId:
    Type: String
    Default: "ou-xyz6-xxxxxxxx"
    Description: ID of the Quarantine OU in the Customer Sandbox solution.

  PrincipalOrgId:
    Type: String
    Description: AWS Organizations ID (e.g., o-xxxxxxxxxx) used to restrict cross-account role assumption to the organization.

  TargetRoleName:
    Type: String
    Default: "NukeExecutionRole"
    Description: Name of the IAM role to assume in the target account for nuke operations.


Resources:

  #############################################
  # Step Functions State Machine
  #############################################
  AccountTeardownStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: slz-account-teardown-orchestrator
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "AWS Account Teardown Orchestrator - Nuke account resources via per-region fan-out",
          "StartAt": "ValidateInput",
          "States": {
            "ValidateInput": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    { "Variable": "$.target_account_id", "IsPresent": true },
                    { "Variable": "$.target_account_id", "IsString": true },
                    { "Variable": "$.no_dry_run", "IsPresent": true },
                    { "Variable": "$.no_dry_run", "IsBoolean": true }
                  ],
                  "Next": "ValidateOU"
                }
              ],
              "Default": "FailMissingInput"
            },
            "FailMissingInput": {
              "Type": "Fail",
              "Error": "InputValidationFailed",
              "Cause": "Missing or invalid required input. Expected: {\"target_account_id\": \"<string>\", \"no_dry_run\": <boolean>}"
            },
            "ValidateOU": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:organizations:listParents",
              "Parameters": {
                "ChildId.$": "$.target_account_id"
              },
              "ResultPath": "$.ou_result",
              "Next": "CheckOU"
            },
            "CheckOU": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.ou_result.Parents[0].Id",
                  "StringEquals": "${QuarantineOuId}",
                  "Next": "CheckDuplicateExecution"
                }
              ],
              "Default": "FailNotInOU"
            },
            "FailNotInOU": {
              "Type": "Fail",
              "Cause": "Account is not in the Quarantine OU",
              "Error": "OUValidationFailed"
            },
            "CheckDuplicateExecution": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
              "Parameters": {
                "TableName": "${StateTable}",
                "KeyConditionExpression": "AccountId = :acct",
                "FilterExpression": "#s IN (:pending, :remaining)",
                "ExpressionAttributeNames": {
                  "#s": "Status"
                },
                "ExpressionAttributeValues": {
                  ":acct": { "S.$": "$.target_account_id" },
                  ":pending": { "S": "pending" },
                  ":remaining": { "S": "resources_remaining" }
                },
                "Select": "COUNT"
              },
              "ResultPath": "$.duplicate_check",
              "Next": "IsDuplicateExecution"
            },
            "IsDuplicateExecution": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.duplicate_check.Count",
                  "NumericGreaterThan": 0,
                  "Next": "FailDuplicateExecution"
                }
              ],
              "Default": "ConstructTargetRoleArn"
            },
            "FailDuplicateExecution": {
              "Type": "Fail",
              "Cause": "An active execution already exists for this target account",
              "Error": "DuplicateExecutionDetected"
            },
            "ConstructTargetRoleArn": {
              "Type": "Pass",
              "Parameters": {
                "target_account_id.$": "$.target_account_id",
                "no_dry_run.$": "$.no_dry_run",
                "target_role_arn.$": "States.Format('arn:aws:iam::{}:role/${TargetRoleName}', $.target_account_id)"
              },
              "Next": "DiscoverRegions"
            },
            "DiscoverRegions": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${RegionDiscoveryFunction}",
                "Payload": {
                  "target_account_id.$": "$.target_account_id",
                  "target_role_arn.$": "$.target_role_arn"
                }
              },
              "ResultSelector": {
                "target_account_id.$": "$.Payload.target_account_id",
                "enabled_regions.$": "$.Payload.enabled_regions"
              },
              "ResultPath": "$.region_discovery",
              "Next": "SeedDynamoDB"
            },
            "SeedDynamoDB": {
              "Type": "Map",
              "ItemsPath": "$.region_discovery.enabled_regions",
              "MaxConcurrency": 1,
              "ItemSelector": {
                "account_id.$": "$.region_discovery.target_account_id",
                "region.$": "$$.Map.Item.Value",
                "execution_id.$": "$$.Execution.Id"
              },
              "Iterator": {
                "StartAt": "PutRegionItem",
                "States": {
                  "PutRegionItem": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
                    "Parameters": {
                      "TableName": "${StateTable}",
                      "Item": {
                        "AccountId": { "S.$": "$.account_id" },
                        "Region": { "S.$": "$.region" },
                        "ExecutionId": { "S.$": "$.execution_id" },
                        "RunCount": { "N": "0" },
                        "Status": { "S": "pending" },
                        "RemainingCount": { "N": "0" },
                        "LastUpdated": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "ResultPath": null,
                    "End": true
                  }
                }
              },
              "ResultPath": null,
              "Next": "FanOutNukeRunner"
            },
            "FanOutNukeRunner": {
              "Type": "Map",
              "ItemsPath": "$.region_discovery.enabled_regions",
              "MaxConcurrency": 0,
              "ItemSelector": {
                "region.$": "$$.Map.Item.Value",
                "target_account_id.$": "$.target_account_id",
                "target_role_arn.$": "$.target_role_arn",
                "no_dry_run.$": "$.no_dry_run"
              },
              "Iterator": {
                "StartAt": "CheckUsEast1",
                "States": {
                  "CheckUsEast1": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.region",
                        "StringEquals": "us-east-1",
                        "Next": "BuildPayloadUsEast1"
                      }
                    ],
                    "Default": "BuildPayloadOtherRegion"
                  },
                  "BuildPayloadUsEast1": {
                    "Type": "Pass",
                    "Parameters": {
                      "target_account_id.$": "$.target_account_id",
                      "target_role_arn.$": "$.target_role_arn",
                      "region": "us-east-1",
                      "regions": ["global", "us-east-1"],
                      "no_dry_run.$": "$.no_dry_run"
                    },
                    "Next": "InvokeNukeRunner"
                  },
                  "BuildPayloadOtherRegion": {
                    "Type": "Pass",
                    "Parameters": {
                      "target_account_id.$": "$.target_account_id",
                      "target_role_arn.$": "$.target_role_arn",
                      "region.$": "$.region",
                      "regions.$": "States.Array($.region)",
                      "no_dry_run.$": "$.no_dry_run"
                    },
                    "Next": "InvokeNukeRunner"
                  },
                  "InvokeNukeRunner": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${NukeRunnerFunction}",
                      "Payload.$": "$"
                    },
                    "ResultSelector": {
                      "status.$": "$.Payload.status",
                      "region.$": "$.Payload.region",
                      "remaining_count.$": "$.Payload.remaining_count",
                      "removed_count.$": "$.Payload.removed_count",
                      "failed_resources.$": "$.Payload.failed_resources",
                      "error.$": "$.Payload.error"
                    },
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error_info",
                        "Next": "FormatItemError"
                      }
                    ],
                    "End": true
                  },
                  "FormatItemError": {
                    "Type": "Pass",
                    "Parameters": {
                      "status": "error",
                      "region.$": "$.region",
                      "remaining_count": -1,
                      "removed_count": 0,
                      "failed_resources": [],
                      "error.$": "$.error_info.Cause"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.nuke_results",
              "Next": "UpdateDynamoDB"
            },
            "UpdateDynamoDB": {
              "Type": "Map",
              "ItemsPath": "$.nuke_results",
              "MaxConcurrency": 1,
              "ItemSelector": {
                "result.$": "$$.Map.Item.Value",
                "account_id.$": "$.target_account_id",
                "execution_id.$": "$$.Execution.Id"
              },
              "Iterator": {
                "StartAt": "NormalizeStatus",
                "States": {
                  "NormalizeStatus": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.result.status",
                        "StringEquals": "complete",
                        "Next": "SetStatusComplete"
                      },
                      {
                        "Variable": "$.result.status",
                        "StringEquals": "resources_remaining",
                        "Next": "SetStatusRemaining"
                      }
                    ],
                    "Default": "SetStatusRemaining"
                  },
                  "SetStatusComplete": {
                    "Type": "Pass",
                    "Parameters": {
                      "result.$": "$.result",
                      "account_id.$": "$.account_id",
                      "execution_id.$": "$.execution_id",
                      "normalized_status": "complete"
                    },
                    "Next": "UpdateRegionItem"
                  },
                  "SetStatusRemaining": {
                    "Type": "Pass",
                    "Parameters": {
                      "result.$": "$.result",
                      "account_id.$": "$.account_id",
                      "execution_id.$": "$.execution_id",
                      "normalized_status": "resources_remaining"
                    },
                    "Next": "UpdateRegionItem"
                  },
                  "UpdateRegionItem": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${StateTable}",
                      "Key": {
                        "AccountId": { "S.$": "$.account_id" },
                        "Region": { "S.$": "$.result.region" }
                      },
                      "UpdateExpression": "SET #status = :status, PreviousRemainingCount = RemainingCount, RemainingCount = :remaining, RemovedCount = :removed, FailedResources = :failed, RunCount = RunCount + :one, LastUpdated = :ts, #error = :err",
                      "ConditionExpression": "ExecutionId = :exec_id",
                      "ExpressionAttributeNames": {
                        "#status": "Status",
                        "#error": "Error"
                      },
                      "ExpressionAttributeValues": {
                        ":status": { "S.$": "$.normalized_status" },
                        ":remaining": { "N.$": "States.Format('{}', $.result.remaining_count)" },
                        ":removed": { "N.$": "States.Format('{}', $.result.removed_count)" },
                        ":failed": { "S.$": "States.JsonToString($.result.failed_resources)" },
                        ":one": { "N": "1" },
                        ":ts": { "S.$": "$$.State.EnteredTime" },
                        ":err": { "S.$": "States.Format('{}', $.result.error)" },
                        ":exec_id": { "S.$": "$.execution_id" }
                      }
                    },
                    "ResultPath": null,
                    "Catch": [
                      {
                        "ErrorEquals": ["DynamoDb.ConditionalCheckFailedException"],
                        "ResultPath": null,
                        "Next": "StaleExecutionNoOp"
                      }
                    ],
                    "End": true
                  },
                  "StaleExecutionNoOp": {
                    "Type": "Pass",
                    "Comment": "Stale execution tried to update - ignoring",
                    "End": true
                  }
                }
              },
              "ResultPath": null,
              "Next": "Evaluate"
            },
            "Evaluate": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${EvaluationFunction}",
                "Payload": {
                  "target_account_id.$": "$.target_account_id",
                  "execution_id.$": "$$.Execution.Id"
                }
              },
              "ResultSelector": {
                "all_complete.$": "$.Payload.all_complete",
                "progress_detected.$": "$.Payload.progress_detected",
                "run_count.$": "$.Payload.run_count",
                "max_retries_reached.$": "$.Payload.max_retries_reached",
                "regions_remaining.$": "$.Payload.regions_remaining",
                "regions_complete.$": "$.Payload.regions_complete",
                "total_removed.$": "$.Payload.total_removed",
                "stuck_regions.$": "$.Payload.stuck_regions",
                "summary.$": "$.Payload.summary"
              },
              "ResultPath": "$.evaluation",
              "Next": "DecideNextAction"
            },
            "DecideNextAction": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.no_dry_run",
                  "BooleanEquals": false,
                  "Next": "FormatDryRunMessage"
                },
                {
                  "Variable": "$.evaluation.all_complete",
                  "BooleanEquals": true,
                  "Next": "FormatSuccessMessage"
                },
                {
                  "Variable": "$.evaluation.progress_detected",
                  "BooleanEquals": false,
                  "Next": "CleanupFailedRows"
                },
                {
                  "Variable": "$.evaluation.max_retries_reached",
                  "BooleanEquals": true,
                  "Next": "CleanupFailedRows"
                }
              ],
              "Default": "WaitBeforeRetry"
            },
            "FormatSuccessMessage": {
              "Type": "Pass",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Subject.$": "States.Format('AWS Nuke Complete: Account {}', $.target_account_id)",
                "Message.$": "States.Format('Account {} teardown completed successfully.\nRegions processed: {}\nTotal resources removed: {}\nExecution: {}', $.target_account_id, States.JsonToString($.evaluation.regions_complete), $.evaluation.total_removed, $$.Execution.Id)",
                "MessageAttributes": {
                  "outcome": {
                    "DataType": "String",
                    "StringValue": "success"
                  }
                }
              },
              "Next": "NotifySuccess"
            },
            "NotifySuccess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:publish",
              "Parameters": {
                "TopicArn.$": "$.TopicArn",
                "Subject.$": "$.Subject",
                "Message.$": "$.Message",
                "MessageAttributes.$": "$.MessageAttributes"
              },
              "End": true
            },
            "FormatDryRunMessage": {
              "Type": "Pass",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Subject.$": "States.Format('AWS Nuke Dry Run Complete: Account {}', $.target_account_id)",
                "Message.$": "States.Format('Account {} dry run scan completed (no resources deleted).\nRegions scanned: {}\nRegions with resources found: {}\nSummary: {}\nExecution: {}', $.target_account_id, States.JsonToString($.evaluation.regions_complete), States.JsonToString($.evaluation.regions_remaining), States.JsonToString($.evaluation.summary), $$.Execution.Id)",
                "MessageAttributes": {
                  "outcome": {
                    "DataType": "String",
                    "StringValue": "dry_run"
                  }
                }
              },
              "Next": "NotifyDryRun"
            },
            "NotifyDryRun": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:publish",
              "Parameters": {
                "TopicArn.$": "$.TopicArn",
                "Subject.$": "$.Subject",
                "Message.$": "$.Message",
                "MessageAttributes.$": "$.MessageAttributes"
              },
              "End": true
            },
            "CleanupFailedRows": {
              "Type": "Map",
              "Comment": "Mark all remaining regions as failed so future retries are not blocked",
              "ItemsPath": "$.evaluation.regions_remaining",
              "MaxConcurrency": 1,
              "ItemSelector": {
                "account_id.$": "$.target_account_id",
                "region.$": "$$.Map.Item.Value",
                "execution_id.$": "$$.Execution.Id"
              },
              "Iterator": {
                "StartAt": "MarkRegionFailed",
                "States": {
                  "MarkRegionFailed": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${StateTable}",
                      "Key": {
                        "AccountId": { "S.$": "$.account_id" },
                        "Region": { "S.$": "$.region" }
                      },
                      "UpdateExpression": "SET #status = :failed, LastUpdated = :ts",
                      "ConditionExpression": "ExecutionId = :exec_id",
                      "ExpressionAttributeNames": {
                        "#status": "Status"
                      },
                      "ExpressionAttributeValues": {
                        ":failed": { "S": "failed" },
                        ":ts": { "S.$": "$$.State.EnteredTime" },
                        ":exec_id": { "S.$": "$.execution_id" }
                      }
                    },
                    "ResultPath": null,
                    "End": true
                  }
                }
              },
              "ResultPath": null,
              "Next": "FormatFailureMessage"
            },
            "FormatFailureMessage": {
              "Type": "Pass",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Subject.$": "States.Format('AWS Nuke FAILED: Account {}', $.target_account_id)",
                "Message.$": "States.Format('Account {} teardown FAILED.\nRun count: {}\nMax retries reached: {}\nProgress detected: {}\nStuck regions: {}\nRegions remaining: {}\nSummary: {}\nExecution: {}', $.target_account_id, $.evaluation.run_count, $.evaluation.max_retries_reached, $.evaluation.progress_detected, States.JsonToString($.evaluation.stuck_regions), States.JsonToString($.evaluation.regions_remaining), States.JsonToString($.evaluation.summary), $$.Execution.Id)",
                "MessageAttributes": {
                  "outcome": {
                    "DataType": "String",
                    "StringValue": "failure"
                  }
                }
              },
              "Next": "NotifyFailure"
            },
            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:sns:publish",
              "Parameters": {
                "TopicArn.$": "$.TopicArn",
                "Subject.$": "$.Subject",
                "Message.$": "$.Message",
                "MessageAttributes.$": "$.MessageAttributes"
              },
              "End": true
            },
            "WaitBeforeRetry": {
              "Type": "Wait",
              "Seconds": 1800,
              "Next": "ReshapeForRetry"
            },
            "ReshapeForRetry": {
              "Type": "Pass",
              "Parameters": {
                "target_account_id.$": "$.target_account_id",
                "target_role_arn.$": "$.target_role_arn",
                "no_dry_run.$": "$.no_dry_run",
                "region_discovery": {
                  "target_account_id.$": "$.target_account_id",
                  "enabled_regions.$": "$.evaluation.regions_remaining"
                }
              },
              "Next": "FanOutNukeRunner"
            }
          }
        }

  #############################################
  # DynamoDB State Table
  #############################################
  StateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: slz-account-teardown-state-table
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: AccountId
          AttributeType: S
        - AttributeName: Region
          AttributeType: S
      KeySchema:
        - AttributeName: AccountId
          KeyType: HASH
        - AttributeName: Region
          KeyType: RANGE

  #############################################
  # IAM Role - Nuke Runner Lambda
  #############################################
  NukeRunnerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-nuke-runner-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref ServiceCatalogAccountId
      Policies:
        - PolicyName: AssumeTargetAccountRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sts:AssumeRole
                Resource: "arn:aws:iam::*:role/NukeExecutionRole"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: !Ref PrincipalOrgId
        - PolicyName: SSMGetNukeConfig
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub "arn:aws:ssm:*:${AWS::AccountId}:parameter/slz-aws-nuke/nuke-config-base"
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"
        - Key: core-protection
          Value: "enabled"

  #############################################
  # Lambda - Nuke Runner
  #############################################
  NukeRunnerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: slz-account-teardown-nuke-runner
      PackageType: Image
      ImageUri: !Sub "${ServiceCatalogAccountId}.dkr.ecr.eu-west-1.amazonaws.com/slz-account-teardown-nuke-runner:latest"
      Timeout: 900
      MemorySize: 1024
      ReservedConcurrentExecutions: 100
      Role: !GetAtt NukeRunnerLambdaRole.Arn

  #############################################
  # IAM Role - Region Discovery Lambda
  #############################################
  RegionDiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-region-discovery-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref ServiceCatalogAccountId
      Policies:
        - PolicyName: AssumeTargetAccountRole
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sts:AssumeRole
                Resource: "arn:aws:iam::*:role/NukeExecutionRole"
                Condition:
                  StringEquals:
                    aws:PrincipalOrgID: !Ref PrincipalOrgId
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"
        - Key: core-protection
          Value: "enabled"

  #############################################
  # Lambda - Region Discovery
  #############################################
  RegionDiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: slz-account-teardown-region-discovery
      Runtime: python3.12
      Handler: region-discovery.handler
      CodeUri: src/region-discovery/
      Timeout: 300
      MemorySize: 128
      Role: !GetAtt RegionDiscoveryLambdaRole.Arn

  #############################################
  # SNS Topic - Notifications
  #############################################
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: slz-account-teardown-notifications

  #############################################
  # IAM Role - Evaluation Lambda
  #############################################
  EvaluationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-evaluation-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref ServiceCatalogAccountId
      Policies:
        - PolicyName: DynamoDBQuery
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                Resource: !GetAtt StateTable.Arn
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"
        - Key: core-protection
          Value: "enabled"

  #############################################
  # Lambda - Evaluation
  #############################################
  EvaluationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: slz-account-teardown-evaluation
      Runtime: python3.12
      Handler: evaluation.handler
      CodeUri: src/evaluation/
      Timeout: 180
      MemorySize: 128
      Role: !GetAtt EvaluationLambdaRole.Arn
      Environment:
        Variables:
          STATE_TABLE_NAME: !Ref StateTable

  #############################################
  # IAM Role - Step Functions Execution
  #############################################
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: slz-account-teardown-orchestrator-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsOUValidation
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - organizations:ListParents
                Resource: '*'
        - PolicyName: InvokeRegionDiscoveryLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt RegionDiscoveryFunction.Arn
        - PolicyName: InvokeNukeRunnerLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt NukeRunnerFunction.Arn
        - PolicyName: DynamoDBStateTable
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:Query
                Resource: !GetAtt StateTable.Arn
        - PolicyName: InvokeEvaluationLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt EvaluationFunction.Arn
        - PolicyName: SNSPublish
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref NotificationTopic
      Tags:
        - Key: SCP-ALLOW-PLATFORM
          Value: "true"
        - Key: core-protection
          Value: "enabled"

  #############################################
  # SSM Parameter - Nuke Config Base
  #############################################
  NukeConfigBaseParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /slz-aws-nuke/nuke-config-base
      Type: String
      Value: "# Placeholder - populate with nuke-config-base.yaml content"
      Description: Base aws-nuke configuration with PLACEHOLDER_ACCOUNT token
